/Website/classic-login-form
/Website\Stadiums Management System/obj
/Website/Stadiums Management System/bin
/Website/Stadiums Management System/packages
/Website\Stadiums Management System/Web.config
/Website\Stadiums Management System/Web.Debug.config
/Website\Stadiums Management System/Web.Release.config
/Website/Stadiums Management System/Properties
/.vs
/Website/Stadiums Management System/Stadiums Management System.csproj
/Website/Stadiums Management System/Stadiums Management System.csproj.user